{
  "parser": "@typescript-eslint/parser",

  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:eslint-comments/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "plugin:react/jsx-runtime"
  ],

  "env": {
    "browser": true
  },

  "plugins": ["react", "@typescript-eslint", "import", "jsx-a11y", "prettier", "eslint-comments"],

  "rules": {
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": [2, {"extensions": [".js", ".jsx", ".ts", ".tsx"]}],
    "react/jsx-props-no-spreading": 0,
    "react/display-name": 0,
    "react/prop-types": 0,
    "react/button-has-type": 0,
    "jsx-a11y/alt-text": 0,
    "react/function-component-definition": [2, {"namedComponents": "arrow-function"}],
    "lines-between-class-members": 0,
    "react/require-default-props": 0,
    "react/destructuring-assignment": 1,
    "no-unused-vars": 0,
    "@typescript-eslint/no-unused-vars": [
      1,
      {"vars": "all", "args": "after-used", "ignoreRestSiblings": false}
    ],
    "no-console": [1, {"allow": ["warn", "error"]}],
    "no-shadow": 0,
    "@typescript-eslint/no-shadow": 2,
    "no-use-before-define": 0,
    "@typescript-eslint/no-use-before-define": 2,
    "@typescript-eslint/explicit-function-return-type": 0,
    "global-require": 2,
    "react/jsx-one-expression-per-line": 0,
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "import/no-extraneous-dependencies": [
      2,
      {
        "devDependencies": [
          "config-overrides.js",
          "src/setupTests.ts",
          "src/**/*.stories.{ts,tsx}",
          "src/**/*.test.{ts,tsx}"
        ]
      }
    ],
    "import/extensions": [
      2,
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  },

  "overrides": [
    {
      "files": ["src/setupTests.ts", "src/reportWebVitals.ts", "*.stories.tsx", "*.test.tsx"],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off"
      }
    },
    {
      "files": ["src/**/styles.ts", "src/**/*.styles.ts", "src/**/styles.js", "src/**/*.styles.js"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "off"
      }
    }
  ],

  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
